@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 50px;">
    @if (!User.Identity.IsAuthenticated)
    {
        <p>You are NOT logged in.</p>

        Html.BeginForm("RequestAuthentication", "Account", null, FormMethod.Post, null);

        <input type="submit" value="Login" class="btn btn-primary" />

        Html.EndForm();
    }
</div>